# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Kinga\1_Studia\6_semestr\Bezpieczeństwo Systemów Komputerowych\Projekt\BSK_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
